# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
*.env

# Django specific
*.log
db.sqlite3
db.sqlite3-journal

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.vscode/
.idea/

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/
*.cover
*.py,cover
.hypothesis/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Static files
staticfiles/
node_modules/

# Other
*.swp
*.swo
